In [1]:
import pandas as pd

In [180]:
df = pd.read_csv("spotify_millsongdata.csv")

In [177]:
df.head(10)

,artist,song,text
20382,Utopia,Caravan,moses went into the desert \r moses came back...
48029,Peter Cetera,Baby What A Big Surprise,right before my very eyes \r i thought that y...
36487,Iggy Pop,Look Away,now he was blond and she was dark \r they cal...
15958,Phil Collins,I Don't Want To Go,i don't want to see you go \r there's too muc...
12815,Metallica,Mama Said,mama she has taught me well \r told me when i...
3320,Coldplay,Viva La Vida,i used to rule the world \r seas would rise w...
8064,Human League,The Snake,"join us, come and join us \r join us, come an..."
9148,James Taylor,Sweet Baby James,"there is a young cowboy, he lives on the range..."
31974,Eurythmics,A Little Of You,there used to be a time \r i wore my heart up...
3793,David Bowie,If You Can See Me,if you can see me i can see you \r \r i cou...

In [181]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [182]:
df.shape

(5000, 3)

In [183]:
df.tail(5)

,artist,song,text
4995,Paul Simon,The 59th Street Bridge Song (Feelin Groovy),"Slow down, you move too fast. \r\nYou got to ..."
4996,David Bowie,Dodo,Now we can talk in confidence \r\nDid you gue...
4997,Iggy Pop,Gimme Some Skin,Gimme some skin \r\nGimme some skin \r\nOh b...
4998,Leann Rimes,I Believe,I believe for every drop of rain that falls \...
4999,Blur,I Broadcast,I love the aspects of another city \r\nThe re...

In [184]:
df.shape

(5000, 3)

In [185]:
df = df.sample(6000).drop('link',axis=1).reset_index(drop=True)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [186]:
df=df.drop('link',axis=1).reset_index(drop=True)

KeyError: "['link'] not found in axis"

In [187]:
df.head(10)

,artist,song,text
0,Scorpions,I'm Leaving You,"Ooh, girl, I'm leaving you \r\nYes, I'm leavi..."
1,Hank Snow,I'm Moving On,That big eight wheeler rollin' down the track ...
2,Ray Charles,That Lucky Old Sun Just Rolls Around Heaven,Up in the mornin' \r\nOut on the job \r\nWor...
3,Diana Ross,He's All I Got,You're a girl that hates to see others happy ...
4,New Order,Ultraviolence,Who saw those dark eyes \r\nWho saw those dar...
5,Fall Out Boy,I've Got All This Ringing In My Ears And None ...,You're a canary \r\nI'm a coal mine \r\n'Cau...
6,Frank Zappa,Catholic Girls,(Well) \r\nCatholic Girls \r\nWith a tiny li...
7,Rolling Stones,All Down The Line,"Yeah, heard the diesel drumming all down the l..."
8,Frank Sinatra,"Bad, Bad Leroy Brown",Now the south side of Chicago \r\nIs (it's) t...
9,Planetshakers,I'M FREE,"VERSE \r\nJoy, there' a joy in my soul \r\nI..."

In [188]:
df.head(10)

,artist,song,text
0,Scorpions,I'm Leaving You,"Ooh, girl, I'm leaving you \r\nYes, I'm leavi..."
1,Hank Snow,I'm Moving On,That big eight wheeler rollin' down the track ...
2,Ray Charles,That Lucky Old Sun Just Rolls Around Heaven,Up in the mornin' \r\nOut on the job \r\nWor...
3,Diana Ross,He's All I Got,You're a girl that hates to see others happy ...
4,New Order,Ultraviolence,Who saw those dark eyes \r\nWho saw those dar...
5,Fall Out Boy,I've Got All This Ringing In My Ears And None ...,You're a canary \r\nI'm a coal mine \r\n'Cau...
6,Frank Zappa,Catholic Girls,(Well) \r\nCatholic Girls \r\nWith a tiny li...
7,Rolling Stones,All Down The Line,"Yeah, heard the diesel drumming all down the l..."
8,Frank Sinatra,"Bad, Bad Leroy Brown",Now the south side of Chicago \r\nIs (it's) t...
9,Planetshakers,I'M FREE,"VERSE \r\nJoy, there' a joy in my soul \r\nI..."

In [189]:
 df.shape

(5000, 3)

In [190]:
df['text']=df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ',regex=True)

In [191]:
df.tail[10]

TypeError: 'method' object is not subscriptable

In [192]:
df.tail(10)

,artist,song,text
4990,Mariah Carey,Hate You,ah... ahh... ahh... \r ahh... ahh... \r ooh ...
4991,"Harry Connick, Jr.",Yes We Can Can,now is the time for all good men to get togeth...
4992,Death,Within The Mind,transforming your mind from the inside out \r...
4993,Dolly Parton,Heartbreaker,"here i sit all alone, thinkin' 'bout what i sh..."
4994,Ed Sheeran,Heaven,"will you recognise me, in the flashing lights ..."
4995,Paul Simon,The 59th Street Bridge Song (Feelin Groovy),"slow down, you move too fast. \r you got to m..."
4996,David Bowie,Dodo,now we can talk in confidence \r did you gues...
4997,Iggy Pop,Gimme Some Skin,gimme some skin \r gimme some skin \r oh bab...
4998,Leann Rimes,I Believe,i believe for every drop of rain that falls \...
4999,Blur,I Broadcast,i love the aspects of another city \r the rep...

In [193]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [194]:
stemmer = PorterStemmer()

In [196]:
def token(txt):
    token = nltk.word_tokenize(txt)
   a=[stemmer.stem(w) for w in token]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [198]:
def token(txt):
    token = nltk.word_tokenize(txt)
   a =[stemmer.stem(w) for w in token]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [199]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [200]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [201]:
df['text'].apply(lambda x: token(x))

0       ooh , girl , i 'm leav you ye , i 'm leav you ...
1       that big eight wheeler rollin ' down the track...
2       up in the mornin ' out on the job work like th...
3       you 're a girl that hate to see other happi un...
4       who saw those dark eye who saw those dark eye ...
                              ...
4995    slow down , you move too fast . you got to mak...
4996    now we can talk in confid did you guess that w...
4997    gim me some skin gim me some skin oh babi gim ...
4998    i believ for everi drop of rain that fall a fl...
4999    i love the aspect of anoth citi the repres are...
Name: text, Length: 5000, dtype: object

In [202]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [203]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [204]:
matrix=tfid.fit_transform(df['text'])

In [205]:
similer=cosine_similarity(matrix)

In [206]:
similer[0]

array([1.        , 0.04611343, 0.0314835 , ..., 0.03234108, 0.02206596,
       0.00938053])

In [207]:
df[df['song']=='Waiting For The Man']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [208]:
df[df['song']=='Waiting For The Man'].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df[df['song']=='As Good As New'].index[0]

In [ ]:
df[df['song']=='Waiting For The Man']

In [ ]:
df[df['song']=='Waiting For The Man']

In [ ]:
df.shape

In [ ]:
df.tail(10)

In [216]:
df.shape

(5000, 3)

In [217]:
df.tail(5)

,artist,song,text
4995,Paul Simon,The 59th Street Bridge Song (Feelin Groovy),"slow down, you move too fast. \r you got to m..."
4996,David Bowie,Dodo,now we can talk in confidence \r did you gues...
4997,Iggy Pop,Gimme Some Skin,gimme some skin \r gimme some skin \r oh bab...
4998,Leann Rimes,I Believe,i believe for every drop of rain that falls \...
4999,Blur,I Broadcast,i love the aspects of another city \r the rep...

In [218]:
df[df['song']=='Gimme Some Skin']

,artist,song,text
4997,Iggy Pop,Gimme Some Skin,gimme some skin \r gimme some skin \r oh bab...

In [219]:
df[df['song']=='Gimme Some Skin'].index[0]

4997

In [225]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key =lambda x:x[1])
    song = []
    for s_id in distance[1:10]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [226]:
recommender("Gimme Some Skin")

['Gimme What You Got',
 'Gimme Gimme Gimme',
 'Gimme More',
 "Gimme All Your Lovin'",
 "Gimme What's Mine",
 'The Ballad Of TV Violence',
 'Zoloft',
 'Move Away',
 "I've Got You Under My Skin"]

In [227]:
import pickle

In [229]:
pickle.dump(similer, open(" similarity", "wb"))

In [230]:
pickle.dump(df, open("df", "wb"))